header{
    background: #96C2E3;
    padding-top: 40px;
    padding-bottom: 60px;
    height: 27%;
}

/*buttons div style*/
.categories{
    height: 20%;
    background: #1e77ba;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

#buttonToChoose{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    padding: 45px;
}

/*list*/
.list{
    margin-top: 30px;
    margin-left: 20px;
}




